[user]
	name = Kyb3r Vizsla
	email = me@kyb3rvizsla.com
	#signingkey =
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[commit]
	#gpgSign = true
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
